.card__description {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}
